<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 开始注解支持 -->
    <aop:config proxy-target-class="true" />

    <import resource="classpath*:spring/spring-shiro.xml" />
    <import resource="classpath*:spring/spring-database.xml" />
    <import resource="classpath*:spring/spring-redis.xml" />

    <bean id="springWrapper" class="com.mvc.demo.utils.SpringWrapper" />


</beans>