<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mvc.demo.mapper.ShiroRoleInfoMapper">
    <resultMap id="BaseResultMap" type="com.mvc.demo.pojo.ShiroRoleInfo">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="role_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
          id, role_name
    </sql>

    <select id="getRolesByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_shiro_user_with_role userWithRole,
        t_shiro_role_info rInfo
        WHERE
        userWithRole.user_id = #{userId,jdbcType=BIGINT}
        AND rInfo.id = userWithRole.role_id;
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_shiro_role_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_shiro_role_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.mvc.demo.pojo.ShiroRoleInfoExample">
        delete from t_shiro_role_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.mvc.demo.pojo.ShiroRoleInfo">
    insert into t_shiro_role_info (id, role_name)
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.mvc.demo.pojo.ShiroRoleInfo">
        insert into t_shiro_role_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.mvc.demo.pojo.ShiroRoleInfoExample" resultType="java.lang.Integer">
        select count(*) from t_shiro_role_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_shiro_role_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.roleName != null">
                role_name = #{record.roleName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_shiro_role_info
        set id = #{record.id,jdbcType=BIGINT},
        role_name = #{record.roleName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.mvc.demo.pojo.ShiroRoleInfo">
        update t_shiro_role_info
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mvc.demo.pojo.ShiroRoleInfo">
      update t_shiro_role_info
      set role_name = #{roleName,jdbcType=VARCHAR}
      where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>