<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫包 -->
    <context:component-scan base-package="com.mvc.demo.controller"/>
    <!-- 告知Spring，我们启用注解驱动 -->
    <mvc:annotation-driven>
        <!-- 解决返回中文乱码 -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="utf-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/toLogin"/>
            <mvc:exclude-mapping path="/subLogin"/>
            <bean class="com.mvc.demo.interceptors.UserLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!-- 定义文件解释器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置默认编码 -->
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 上传图片最大大小5M-->
        <property name="maxUploadSize" value="5242440"/>
    </bean>


    <!-- 配置静态文件访问配置 -->
    <!--<mvc:resources mapping="/**" location="/static/views/" />-->

    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀(如果最后一个还是表示文件夹,则最后的斜杠不要漏了) 使用JSP-->
    <!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/static/views/"/>
        <property name="suffix" value=".html"/>
    </bean>
</beans>
